### Logistic Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

print("imported our libriaies!")

imported our libriaies!

In [2]:
#Load our iris dataset
iris = datasets.load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

iris_target = iris.target #this is your y!

In [3]:
iris_target #iris sentosa, iris versicolor, iris virginica

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [4]:
idf = iris_df.copy()
idf["Iris_class"] = iris_target
idf.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Iris_class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [5]:
idf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   Iris_class         150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [6]:
#process our data - split our data into train test split
from sklearn.model_selection import train_test_split

#train 70% and test 30%
X_train, X_test, y_train, y_test = train_test_split(iris_df, iris_target, test_size=0.3)

In [7]:
from sklearn.linear_model import LogisticRegression#Step 1: import Logistic regression
log_reg = LogisticRegression(solver="newton-cg")#Step 2: initialise our model
log_reg.fit(X_train, y_train)#Step 3: train our model

print("Training complete!")

Training complete!

In [8]:
y_pred = log_reg.predict(X_test)#Step 4: obtain model predictions
print(y_pred)

[2 1 1 1 2 0 0 0 0 1 2 2 1 1 2 1 0 1 1 2 0 2 0 1 2 1 1 2 2 2 2 1 2 2 1 1 1
 1 2 1 2 2 1 2 0]

In [9]:
df1 = pd.DataFrame({"Original":y_test, "Prediction" : y_pred})
df1.head(10)

   Original  Prediction
0         2           2
1         1           1
2         1           1
3         1           1
4         2           2
5         0           0
6         0           0
7         0           0
8         0           0
9         1           1

In [10]:
from sklearn.metrics import accuracy_score

test_acc = accuracy_score(y_test, y_pred)#Step 5: model evaluation
print("Accuracy of :", str(test_acc))

Accuracy of : 0.9111111111111111

### SVM

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

print("imported our libriaies!")

imported our libriaies!

In [12]:
#Load our iris dataset
iris1 = datasets.load_iris()
iris1_df = pd.DataFrame(iris1.data, columns=iris1.feature_names)

iris1_target = iris1.target #this is your y!

In [13]:
iris1_target #iris sentosa, iris versicolor, iris virginica

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [14]:
iris1.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [15]:
from sklearn.model_selection import train_test_split

#split our data into 70% train, 30% test
X_train1, X_test1, y_train1, y_test1 = train_test_split(iris1_df, iris1_target, test_size=0.3)

In [16]:
from sklearn import svm#Step 1: import SVM algorithm

svmclass = svm.SVC()#Step 2: Instatiate our model

svmclass.fit(X_train1, y_train1)#Step 3: Fit our model
print("Training is complete")

Training is complete

In [17]:
y_pred1 = svmclass.predict(X_test1)#Step 4: to get predictions

In [18]:
df = pd.DataFrame({"Original":y_test1, "Prediction" : y_pred1})
df.head(10)

   Original  Prediction
0         2           2
1         2           2
2         0           0
3         0           0
4         1           1
5         0           0
6         2           2
7         1           2
8         0           0
9         1           1

### Compare the results

In [19]:
from sklearn.metrics import accuracy_score
print("Logistic Regression Accuracy is :", str(accuracy_score(y_test, y_pred)))
print("SVM Accuracy is :", str(accuracy_score(y_test1, y_pred1)))

Logistic Regression Accuracy is : 0.9111111111111111
SVM Accuracy is : 0.9777777777777777

In [20]:
### Accordingly to the result, the Accuracy SVM Regression is doing slightly better. As logistic regression will perform better in binary output. (0 or 1)